.form-area{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height:500px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.5);
  padding:40px;
}
h2
{
  margin:0;
  padding: 0 0 30px;
  font-weight: bold;
  color:#ffffff;
}
.form-area p{
  margin:0;
  padding: 0;
  font-weight: bold;
  color:#ffffff;
}
.form-area input,select{
  margin-bottom: 20px;
  width: 100%;
}
.form-area input[type=text],
.form-area input[type=password]
{
  border:none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  outline:none;
  height: 40px;
  color:#ffffff;
  //display:16px;
}
::placeholder
{
  color:white;
}
.form-area select
{
  margin-top: 20px;
  padding: 10px 0;
}
.form-area input[type=submit]
{
  border: none;
  height: 40px;
  outline: none;
  color: white;
  font-size: 15px;
  background-color: tomato;
  cursor: pointer;
  border-radius: 20px;
}
.form-area input[type=submit]:hover
{
  background-color: cyan;
  color:white;
}
.form-area a
{
  color:white;
  text-decoration:none;
  font-size: 14px;
  font-weight: bold;
}
