<!--<head>-->
<!--  <script>-->
<!--      $(document).ready(function(){-->
<!--          $flag=1;-->
<!--          $("#myName").focusout(function(){-->
<!--              if($(this).val()==''){-->
<!--                  $(this).css("border-color", "#FF0000");-->
<!--                  $('#submit').attr('disabled',true);-->
<!--                  $("#error_name").text("* You have to enter your first name!");-->
<!--              }-->
<!--              else-->
<!--              {-->
<!--                  $(this).css("border-color", "#2eb82e");-->
<!--                  $('#submit').attr('disabled',false);-->
<!--                  $("#error_name").text("");-->

<!--              }-->
<!--          });-->
<!--          $("#lastname").focusout(function(){-->
<!--              if($(this).val()==''){-->
<!--                  $(this).css("border-color", "#FF0000");-->
<!--                  $('#submit').attr('disabled',true);-->
<!--                  $("#error_lastname").text("* You have to enter your Last name!");-->
<!--              }-->
<!--              else-->
<!--              {-->
<!--                  $(this).css("border-color", "#2eb82e");-->
<!--                  $('#submit').attr('disabled',false);-->
<!--                  $("#error_lastname").text("");-->
<!--              }-->
<!--          });-->
<!--          $("#dob").focusout(function(){-->
<!--              if($(this).val()==''){-->
<!--                  $(this).css("border-color", "#FF0000");-->
<!--                  $('#submit').attr('disabled',true);-->
<!--                  $("#error_dob").text("* You have to enter your Date of Birth!");-->
<!--              }-->
<!--              else-->
<!--              {-->
<!--                  $(this).css("border-color", "#2eb82e");-->
<!--                  $('#submit').attr('disabled',false);-->
<!--                  $("#error_dob").text("");-->
<!--              }-->
<!--          });-->
<!--          $("#gender").focusout(function(){-->
<!--              $(this).css("border-color", "#2eb82e");-->

<!--          });-->
<!--          $("#age").focusout(function(){-->
<!--              if($(this).val()==''){-->
<!--                  $(this).css("border-color", "#FF0000");-->
<!--                  $('#submit').attr('disabled',true);-->
<!--                  $("#error_age").text("* You have to enter your Age!");-->
<!--              }-->
<!--              else-->
<!--              {-->
<!--                  $(this).css({"border-color":"#2eb82e"});-->
<!--                  $('#submit').attr('disabled',false);-->
<!--                  $("#error_age").text("");-->

<!--              }-->
<!--          });-->
<!--          $("#phone").focusout(function(){-->
<!--              $pho =$("#phone").val();-->
<!--              if($(this).val()==''){-->
<!--                  $(this).css("border-color", "#FF0000");-->
<!--                  $('#submit').attr('disabled',true);-->
<!--                  $("#error_phone").text("* You have to enter your Phone Number!");-->
<!--              }-->
<!--              else if ($pho.length!=10)-->
<!--              {-->
<!--                  $(this).css("border-color", "#FF0000");-->
<!--                  $('#submit').attr('disabled',true);-->
<!--                  $("#error_phone").text("* Lenght of Phone Number Should Be Ten");-->
<!--              }-->
<!--              else if(!$.isNumeric($pho))-->
<!--              {-->
<!--                  $(this).css("border-color", "#FF0000");-->
<!--                  $('#submit').attr('disabled',true);-->
<!--                  $("#error_phone").text("* Phone Number Should Be Numeric");-->
<!--              }-->
<!--              else{-->
<!--                  $(this).css({"border-color":"#2eb82e"});-->
<!--                  $('#submit').attr('disabled',false);-->
<!--                  $("#error_phone").text("");-->
<!--              }-->

<!--          });-->

<!--          $( "#submit" ).click(function() {-->
<!--              if($("#myName" ).val()=='')-->
<!--              {-->
<!--                  $("#myName").css("border-color", "#FF0000");-->
<!--                  $('#submit').attr('disabled',true);-->
<!--                  $("#error_name").text("* You have to enter your first name!");-->
<!--              }-->
<!--              if($("#lastname" ).val()=='')-->
<!--              {-->
<!--                  $("#lastname").css("border-color", "#FF0000");-->
<!--                  $('#submit').attr('disabled',true);-->
<!--                  $("#error_lastname").text("* You have to enter your Last name!");-->
<!--              }-->
<!--              if($("#dob" ).val()=='')-->
<!--              {-->
<!--                  $("#dob").css("border-color", "#FF0000");-->
<!--                  $('#submit').attr('disabled',true);-->
<!--                  $("#error_dob").text("* You have to enter your Date of Birth!");-->
<!--              }-->
<!--              if($("#age" ).val()=='')-->
<!--              {-->
<!--                  $("#age").css("border-color", "#FF0000");-->
<!--                  $('#submit').attr('disabled',true);-->
<!--                  $("#error_age").text("* You have to enter your Age!");-->
<!--              }-->
<!--              if($("#phone" ).val()=='')-->
<!--              {-->
<!--                  $("#phone").css("border-color", "#FF0000");-->
<!--                  $('#submit').attr('disabled',true);-->
<!--                  $("#error_phone").text("* You have to enter your Phone Number!");-->
<!--              }-->
<!--          });-->



<!--      });-->
<!--  </script>-->
<!--</head>-->

<img src="assets//pic.jpg" class="imagee">
<br><br>
<!--<div class="form-area" style="font-family: 'Open Sans', sans-serif;">-->
<!--  <h2>SignUp</h2>-->
<!--  <form action="/action_page.php" class="was-validated">-->
<!--    <p>Your Name</p>-->
<!--    <input type="text" name="name" id="name" placeholder="Enter your name here" [(ngModel)]="yourname" >-->
<!--    <div class="invalid-feedback">Please fill out this field.</div>-->
<!--    <p>Your Email</p>-->
<!--    <input type="text" name="email" id="email" placeholder="Enter your email here" [(ngModel)]="email">-->
<!--    <div class="invalid-feedback">Please fill out this field.</div>-->
<!--    <p>Your Username</p>-->
<!--    <input type="text" name="username" id="username" placeholder="Enter your username here" [(ngModel)]="username"required >-->
<!--    <div class="invalid-feedback">Please fill out this field.</div>-->
<!--    <p>Password</p>-->
<!--    <input type="password" name="password" id="password" placeholder="Enter your password" [(ngModel)]="password" required >-->
<!--    <div class="invalid-feedback">Please fill out this field.</div>-->
<!--    <p>Your Phone Number </p>-->
<!--    <input type="text" name="mobile" id="mobile" placeholder="Enter your contact number here" [(ngModel)]="phone" required >-->
<!--    <div class="invalid-feedback">Please fill out this field.</div>-->
<!--    &lt;!&ndash;    <button type="button" class="btn btn-primary btn-lg btn-block login-button"  routerLink="/homepage" >Register</button>&ndash;&gt;-->
<!--    <button type="button" class="btn btn-primary btn-lg btn-block login-button" (click)="goTosignUp()" >Register</button>-->
<!--  </form>-->
<!--</div>-->

<div class="container  form-area" style="margin-top:100px;">
  <h2>SignUp</h2>
  <form action="/action_page.php" class="was-validated">
    <div class="form-group">
      <div class="form-group">
        <label for="yname" style="color:white;">Your Name</label>
        <input type="password" class="form-control" id="yname" placeholder="Enter your name" name="pswd" [(ngModel)]="yourname" required>
        <!--      <div class="valid-feedback">Valid.</div>-->
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <label for="uname" style="color:white;" >Username:</label>
      <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" [(ngModel)]="username" required>
      <!--      <div class="valid-feedback">Valid.</div>-->
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="pwd" style="color:white;">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" [(ngModel)]="password" required>
      <!--      <div class="valid-feedback">Valid.</div>-->
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="email" style="color:white;">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Enter your email" name="pswd" [(ngModel)]="email" required>
      <!--      <div class="valid-feedback">Valid.</div>-->
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="mobile" style="color:white;">Phone</label>
      <input type="text" class="form-control" id="mobile" placeholder="Enter your phone number" name="pswd" [(ngModel)]="phone" required>
      <!--      <div class="valid-feedback">Valid.</div>-->
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="goTosignUp()">SignUp</button>
    <div>
      <a routerLink="/login">Already have an account?
      </a>
    </div>
  </form>
</div>

<!--<div class="row">-->
<!--  <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">-->
<!--    <div class="panel panel-primary">-->
<!--      <div class="panel-heading">Enter Your Details Here-->
<!--      </div>-->
<!--      <div class="panel-body">-->
<!--        <form name="myform">-->
<!--          <div class="form-group">-->
<!--            <label for="myName">Username *</label>-->
<!--            <input id="myName" name="myName" class="form-control" type="text" [(ngModel)]="username" data-validation="required">-->
<!--            <span id="error_name" class="text-danger"></span>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="pwd">Password *</label>-->
<!--            <input id="pwd" name="paswrd" class="form-control" type="password" [(ngModel)]="password" data-validation="required">-->
<!--            <span id="error_lastname" class="text-danger"></span>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="email">Email*</label>-->
<!--            <input type="date"  id="email" class="form-control" [(ngModel)]="email">-->
<!--            <span id="error_dob" class="text-danger"></span>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="phone">Phone Number *</label>-->
<!--            <input type="text" id="phone" name="phone" class="form-control" [(ngModel)]="phone" >-->
<!--            <span id="error_phone" class="text-danger"></span>-->
<!--          </div>-->
<!--          <button id="submit" type="submit" value="submit" class="btn btn-primary center" routerLink="/login">Submit</button>-->

<!--        </form>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
